<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./Checkout.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/eaa6d1f26f.js" crossorigin="anonymous"></script>
    <title>Checkout</title>
  </head>
  <body>
    <div class="landing">
      <div class="navbar">
        <a href="landingpage.html"><img src="logo.png" class="logo"></a>
        <ul>
          <li><a href="#">MITRA</a></li>
          <li><a href="#">TENTANG</a></li>
          <li><a href="signup.html"><img src="Profile.png" alt="Profile Picture" width="60.47px"> username</a></li>
        </ul>
      </div>
    </div>
    <div class="alamat pengguna">
      <hr class="kotak">
      <a class="ap">Alamat Pengguna</a>
      <a class="nl">Rafida Nisa Maghfiroh</a>
      <a class="nt">082113750965</a>
      <a class="al">Pondok Cipta Blok A No. 88 RT/RW 01/011, Bintara, Bekasi Barat, Kota Bekasi, Jawa Barat, 17134</a>
      <hr class="garis">
    </div>
    <div class="baris 2">
      <hr class="kotak2">
      <a class="jr">Pilih Jenis Rental</a>
      <form>
        <div class="col-2">
          <select>
            <option value="" disabled selected></option>
            <option value="lepaskunci">Lepas Kunci</option>
            <option value="dropoff">Drop off</option>
          </select>
        </div>
      </form>
      <div class="garis2"></div>
      <hr class="garis3">
      <a class="tb">Tanggal Booking</a>
      <form>
        <div class="col-3">
          <input type="datetime-local">
        </div>
      </form>
      <a class="sampai">-</a>
      <form>
        <div class="col-4">
          <input type="datetime-local">
        </div>
      </form>
      <div class="garis4"></div>
    </div>
    <div class="baris 3">
      <hr class="kotak3">
      <div class="z1">
        <i class="fas fa-user-circle fa-2x" style="position: absolute; left: 15.9%; background: none; top: 560px;"></i>
        <a class="namatoko">Agrirental</a>
        <img src="jazz.png" style="width: 78px; height: 78px; margin-left: 15.9%; margin-top: 130px; position: absolute;">
        <a class="judul">Mobil mobil an merah</a>
        <a class="merek-jenis">Honda-Jazz</a>
      </div>
      <div class="z2">
        <a class="harga12jam">Harga/12 Jam</a>
        <a class="hargaprod">Rp500.000</a>
      </div>
      <div class="z3">
        <a class="jumlahjam">Jumlah Jam</a>
        <a class="jumlah">1</a>
      </div>
      <div class="z4">
        <a class="harga">Harga</a>
        <a class="hartot">Rp500.000</a>
      </div>
      <hr class="garis5">
      <form>
        <label>Pesan:</label>
        <div class="col-5">
          <textarea placeholder="(Opsional)" style="margin-left: 5%; margin-top: 220px;"></textarea>
        </div>
      </form>
      <a class="total">Total Orderan:</a>
      <a class="jumlahtotal">Rp500.000</a>
    </div>
    <div class="baris4">
      <hr class="kotak4">
      <a class="metode">Metode Pembayaran</a>
      <form action="" class="formform" style="margin-left: 35%; margin-top: 360px; position: absolute; background: none;">
        <input type="radio" name="atm" value=""><img src="bni.jpeg" style="width: 43px; height: 24px; margin-left: 20px; vertical-align: middle; margin-bottom: 10px;"><br>
        <input type="radio" name="atm" value=""><img src="bca.jpeg" style="width: 43px; height: 24px; margin-left: 20px; vertical-align: middle; margin-bottom: 10px;"><br>
        <input type="radio" name="atm" value=""><img src="mandiri.jpeg" style="width: 43px; height: 24px; margin-left: 20px; vertical-align: middle; margin-bottom: 10px;"><br>
        <input type="radio" name="atm" value=""><img src="bri.jpeg" style="width: 43px; height: 24px; margin-left: 20px; vertical-align: middle; margin-bottom: 10px;">
      </form>
      <div class="garis6"></div>
      <hr class="garis7">
      <a class="totalp">Total Pembayaran:</a>
      <a class="jumlahtotalp">Rp500.000</a>
      <hr class="garis8">
    </div>
    <a href="">
      <button>Buat Orderan</button>
    </a>
    <footer>
      <p>Copyright Spinach Team</p>
    </footer>
  </body>
</html>
