<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="halamanProduk.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/eaa6d1f26f.js" crossorigin="anonymous"></script>
    <title>AGRIRENTAL</title>
  </head>
  <body>
    <div class="navbar">
        <a href="landingpage.html"><img src="logo.png" class="logo"></a>
        <ul>
            <li><a href="#">MITRA</a></li>
            <li><a href="#">TENTANG</a></li>
            <li><a href="signup.html"><i class="fas fa-user-circle fa-lg"></i>    username</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="left" id="card">
            <div class="mainPicture">
                <img src="jazz.png" alt="productPic" id="carPics">
            </div>
            <div class="subPictures">
                <img src="jazz.png" alt="productPic" id="carPics2">
                <img src="jazz.png" alt="productPic" id="carPics2">
                <img src="jazz.png" alt="productPic" id="carPics2">
                <img src="jazz.png" alt="productPic" id="carPics2">
            </div>
            <br>
            <br>
            <div class="user">
                <div class="pengguna" id="card3">
                    <img src="profile.jpeg" alt="Profile" id="user1">
                    <p>NAMA PENYEWA</p>
                </div>
                <button type="button"><span></span>Sewa</button>
            </div>
        </div>
        <div class="right" id="card">
            <h2>Judul</h2>
            <p>5.0 | 21 Penilaian | 25x Tersewa</p>
            <h2>Rp 500.000/12 jam</h2>
            <h3>Informasi Produk</h3>
            <ul>
                <li>Merk : Honda</li>
                <li>Jenis : Jazz</li>
                <li>Tahun : 2003</li>
                <li>Jenis Rental : Drop Off</li>
                <li>Plat Nomor : Ganjil</li>
            </ul>
            <h3>Deskripsi Produk</h3>
            <p>blablablablablabalabla</p>
            <div class="nilaiProduk" id="card2">
                <h4>Penilaian Produk</h4>
                <div class="star">
                    <p>2 dari 5</p>
                    <p>★★☆☆☆</p>
                </div>
                <div class="rating">
                   <a href="#">Semua</a>
                   <a href="#">5 Bintang</a>
                   <a href="#">4 Bintang</a>
                   <a href="#">3 Bintang</a>
                   <a href="#">2 Bintang</a>
                   <a href="#">1 Bintang</a>
                </div>
                <div class="comment">
                    <a href="#">
                        <div class="listcomment">
                            <div class="icon">
                                <img src="profile.jpeg" alt="profile" id="image">
                            </div>
                            <div class="status">
                                <p>Rafida
                                    <br> ★★☆☆☆
                                    <br> Isi Komen
                                    <br> Ini tanggal komen
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="listcomment">
                            <div class="icon">
                                <img src="profile.jpeg" alt="profile" id="image">
                            </div>
                            <div class="status">
                                <p>Rafida
                                    <br> ★★☆☆☆
                                    <br> Isi Komen
                                    <br> Ini tanggal komen
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="listcomment">
                            <div class="icon">
                                <img src="profile.jpeg" alt="profile" id="image">
                            </div>
                            <div class="status">
                                <p>Rafida
                                    <br> ★★☆☆☆
                                    <br> Isi Komen
                                    <br> Ini tanggal komen
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="listcomment">
                            <div class="icon">
                                <img src="profile.jpeg" alt="profile" id="image">
                            </div>
                            <div class="status">
                                <p>Rafida
                                    <br> ★★☆☆☆
                                    <br> Isi Komen
                                    <br> Ini tanggal komen
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="listcomment">
                            <div class="icon">
                                <img src="profile.jpeg" alt="profile" id="image">
                            </div>
                            <div class="status">
                                <p>Rafida
                                    <br> ★★☆☆☆
                                    <br> Isi Komen
                                    <br> Ini tanggal komen
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="listcomment">
                            <div class="icon">
                                <img src="profile.jpeg" alt="profile" id="image">
                            </div>
                            <div class="status">
                                <p>Rafida
                                    <br> ★★☆☆☆
                                    <br> Isi Komen
                                    <br> Ini tanggal komen
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="listcomment">
                            <div class="icon">
                                <img src="profile.jpeg" alt="profile" id="image">
                            </div>
                            <div class="status">
                                <p>Rafida
                                    <br> ★★☆☆☆
                                    <br> Isi Komen
                                    <br> Ini tanggal komen
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
  </body>
  <footer>
    <p>Copyright Spinach Team</p>
  </footer>
</html>
