<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7b2e6c4dc6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="listProduk.css">
    <title>AGRIRENTAL</title>
</head>
<body>
    <div class="navigation">
        <div class="navbar">
            <a href="landingpage.html"><img src="logo.png" class="logo"></a>
            <ul>
                <li><a href="#">MITRA</a></li>
                <li><a href="#">TENTANG</a></li>
                <li><a href="signup.html"><i class="fas fa-user-circle fa-lg"></i>    username</a></li>
            </ul>
        </div>
    </div>
    <nav class="product-filter">
        <h1>NAMA PENCARIAN</h1> 
        <div class="sort">
            <div class="collection-sort">
                <label>Pilih Kabupaten/Kota    </label>
                <select>
                    <option value="/">Kabupaten/Kota</option>
                    <option value="/">Kabupaten/Kota</option>
                    <option value="/">Kabupaten/Kota</option>
                    <option value="/">Kabupaten/Kota</option>
                    <option value="/">Kabupaten/Kota</option>
                </select>
            </div>
  
            <div class="collection-sort">
                <label>Pilih Kecamatan</label>
                <select>
                    <option value="/">Kecamatan</option>
                    <option value="/">Kabupaten/Kota</option>
                    <option value="/">Kabupaten/Kota</option>
                    <option value="/">Kabupaten/Kota</option>
                    <option value="/">Kabupaten/Kota</option>
                </select>
            </div>
        </div>  
    </nav>

    <section class="products">
        <div class="product-card">
          <div class="product-image" id="card">
            <img src="Bg1.jpeg">
            <h5>Nama</h5>
            <p>Lokasi</p>
            <p>Harga</p>
            <p>Rating</p>
          </div>
        </div>
        <div class="product-card">
            <div class="product-image" id="card">
              <img src="Bg1.jpeg">
              <h5>Nama</h5>
              <p>Lokasi</p>
              <p>Harga</p>
              <p>Rating</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image"  id="card">
              <img src="Bg1.jpeg">
              <h5>Nama</h5>
              <p>Lokasi</p>
              <p>Harga</p>
              <p>Rating</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image" id="card"> 
              <img src="Bg1.jpeg">
              <h5>Nama</h5>
              <p>Lokasi</p>
              <p>Harga</p>
              <p>Rating</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image" id="card"> 
              <img src="Bg1.jpeg">
              <h5>Nama</h5>
              <p>Lokasi</p>
              <p>Harga</p>
              <p>Rating</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image" id="card"> 
              <img src="Bg1.jpeg">
              <h5>Nama</h5>
              <p>Lokasi</p>
              <p>Harga</p>
              <p>Rating</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image" id="card"> 
              <img src="Bg1.jpeg">
              <h5>Nama</h5>
              <p>Lokasi</p>
              <p>Harga</p>
              <p>Rating</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image" id="card"> 
              <img src="Bg1.jpeg">
              <h5>Nama</h5>
              <p>Lokasi</p>
              <p>Harga</p>
              <p>Rating</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image" id="card"> 
              <img src="Bg1.jpeg">
              <h5>Nama</h5>
              <p>Lokasi</p>
              <p>Harga</p>
              <p>Rating</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image" id="card"> 
              <img src="Bg1.jpeg">
              <h5>Nama</h5>
              <p>Lokasi</p>
              <p>Harga</p>
              <p>Rating</p>
            </div>
        </div>
    </section>
    <br>
    <br>
</body>
<footer>
    <p>Copyright Spinach Team</p>
</footer>
</html>