<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../asset/css/login.css">
        <script src="https://kit.fontawesome.com/7b2e6c4dc6.js" crossorigin="anonymous"></script>
        <title>Masuk</title>
    </head>
    <body background="../asset/img/background.jpg">
        <header>
            <div class="atas">
                <a href="">
                    <img src="../asset/img/logo.png" class="logo">
                </a>
            </div>
        </header>
        <div class="loginForm">
            <h1>MASUK</h1>
            <div class="textbox">
                <i class="far fa-user"></i>
                <input type="text" placeholder="Username" name="" value="">
            </div>
            <div class="textbox">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" name="" value="">
            </div>
            <button type="button"><span></span>Masuk</button>
            <p>Belum punya akun? <a href="signup.html">Daftar</a></p>
        </div>
    </div>
    </body>
</html>
