<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="./Mitra_Orderan(1Order).css" rel="stylesheet" />
		<script src="https://kit.fontawesome.com/eaa6d1f26f.js" crossorigin="anonymous"></script>
		<title>Mitra - Orderan</title>
	</head>
	<body>
		<header>
      <div class="container">
        <div class="atas">
          <a href="">
            <img class="logo" src="Logo.png" />
          </a>
          <i class="fas fa-store-alt fa-lg" style="position: fixed; float: right; top: 34px; right: 2.3%;"></i>
          <a class="sUname">Agrirental</a>
          <a class="panah">&#10095;</a>
          <a href="" class="sAkun2">Orderan</a>
        </div>
        <div class="menu">
          <ul>
            <li>
              <a href="">
                <span class="icon"><i class="fas fa-store-alt"></i></span>
                <span class="profil">Profil Mitra</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon"><i class="fas fa-car"></i></span>
                <span class="produk">Produk</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon"><i class="fas fa-clipboard-list" style="color: #4ACFAC;"></i></span>
                <span class="orderan" style="color: #4ACFAC;">Orderan</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span class="keluar">Keluar</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
		<a class="sProduk">1 Tersewa</a>
		<div class="judul">
			<table>
		        <tr>
		            <th style="padding-left: 4.6%; width: 17.9%;">Nama Produk</th>
		            <th style="padding-left: 1.4%; width: 11%;">Jumlah yang harus dibayar</th>
		            <th style="padding-left: 1.4%; width: 9%;">Status</th>
		            <th style="padding-left: 1.4%; width: 10.3%;">No Orderan</th>
		        </tr>
		    </table>
		</div>
		<div class="isi">
			<table>
		        <tr>
		            <td style="padding-left: 4.6%; width: 17.9%;"><a href="" class="judul-merk">Mobil Honda Jazz Bintara<br>Honda - Jazz</a></td>
		            <td style="padding-left: 1.4%; width: 11%;">Rp500.000</td>
		            <td style="padding-left: 1.4%; width: 9%; text-transform: uppercase;">Selesai</td>
		            <td style="padding-left: 1.4%; width: 10.3%;">1234567890<br><a href="" class="cek">Periksa Rincian</a></td>
		        </tr>
		    </table>
		</div>
	</body>
</html>