<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./Mitra_Detail Order.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/eaa6d1f26f.js" crossorigin="anonymous"></script>
    <title>Mitra - Periksa Rincian</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="atas">
          <a href="">
            <img class="logo" src="Logo.png" />
          </a>
          <i class="fas fa-store-alt fa-lg" style="position: fixed; float: right; top: 34px; right: 2.3%;"></i>
          <a class="sUname">Agrirental</a>
          <a class="panah">&#10095;</a>
          <a href="" class="sAkun2">Orderan</a>
          <a class="panah2">&#10095;</a>
          <a href="" class="srincian">Periksa Rincian</a>
        </div>
        <div class="menu">
          <ul>
            <li>
              <a href="">
                <span class="icon"><i class="fas fa-store-alt"></i></span>
                <span class="profil">Profil Mitra</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon"><i class="fas fa-car"></i></span>
                <span class="produk">Produk</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon"><i class="fas fa-clipboard-list" style="color: #4ACFAC;"></i></span>
                <span class="orderan" style="color: #4ACFAC;">Orderan</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span class="keluar">Keluar</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="baris1">
      <hr class="kotak">
      <a class="sstatus">Status</a>
      <div class="garis"></div>
    </div>
    <div class="baris2">
      <hr class="kotak2">
      <div class="NoOrder">
        <a class="order">No. Order</a>
        <a class="noorder">1234567890</a>
      </div>
      <div class="garis2"></div>
      <hr class="garis3">
      <div class="garis4"></div>
      <div class="AlamatPengguna">
        <a class="alamat">Alamat</a>
        <a class="namalengkap">Rafida Nisa</a>
        <a class="notelp">082113750965</a>
        <a class="detail">Pondok Cipta Blok A No. 88, Bintara, Bekasi Barat</a>
        <a class="kotakab">Kota Bekasi</a>
        <a class="provinsi">Jawa Barat</a>
        <a class="kodepos">17134</a>
      </div>
    </div>
    <div class="baris3">
      <hr class="kotak3">
      <div class="garis5"></div>
      <hr class="garis6">
      <div class="garis7"></div>
      <div class="JenisRental">
        <a class="jrent">Jenis Rental</a>
        <a class="jenis">Lepas Kunci</a>
      </div>
      <a class="tgldari">mm/dd/yy 12:00 AM</a>
      <a class="sampai">-</a>
      <a class="tglsampai">mm/dd/yy 12:00 AM</a>
      <div class="TanggalBooking">
        <a class="tgl">Tanggal Booking</a>
      </div>
    </div>
    <div class="baris4">
      <hr class="kotak4">
      <i class="fas fa-user-circle fa-2x" style="position: absolute; left: 21.6%; background: none; top: 590px;"></i>
      <a class="username">rafidanisa</a>
    </div>
    <div class="baris5">
      <hr class="kotak5">
      <a class="info">Informasi Pembayaran</a>
      <hr class="garis8">
      <div class="inp">
        <img src="jazz.png" style="width: 78px; height: 78px; left: 21.6%; top: 710px; position: absolute;">
        <a class="judulproduk">Mobil mobil an merah</a>
        <a class="merekjenis">Honda - Jazz</a>
        <a class="totalharga">Rp500.000</a>
        <a class="pesantext">Yokyok</a>
      </div>
      <a class="pesan">Pesan:</a>
      <a class="metpem">Metode Pembayaran:</a>
      <a class="cod" style="margin-left: 83%; margin-top: 485px; position: absolute;">Cash On Delivery(COD)</a>
    </div>
    <div class="pilih">
      <a class="status">selesai</a>
      <select name="" id="">
          <option value="" disabled selected></option>
          <option value="">Lanjut</option>
          <option value="">Batal</option>
      </select>
    </div>
    <button>Update Status</button>
    <footer>
      <p>Copyright Spinach Team</p>
    </footer>
  </body>
</html>