<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./Orderan Saya(-Order).css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/eaa6d1f26f.js" crossorigin="anonymous"></script>
    <title>Orderan Saya</title>
  </head>
  <body>
    <div class="navbar">
        <a href="landingpage.html"><img src="logo.png" class="logo"></a>
        <ul>
          <li><a href="#">MITRA</a></li>
          <li><a href="#">TENTANG</a></li>
          <li><a href="#">ORDER</a></li>
          <li><a href="signup.html"><img src="profile.jpeg" alt="Profile Picture" width="60.47px" id="profile1">  username</a>
          </li>
          <li><a href="#"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </div>
    <a class="orderansaya">Orderan Saya</a>
    <a class="takdeprod">Belum ada orderan</a>
    <footer>
    <p>Copyright Spinach Team</p>
  </footer>
  </body>
</html>
