<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="Rincian Order.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/eaa6d1f26f.js" crossorigin="anonymous"></script>
    <title>Rincian Order</title>
  </head>
  <body>
    <div class="navbar">
        <a href="landingpage.html"><img src="logo.png" class="logo"></a>
        <ul>
          <li><a href="#">MITRA</a></li>
          <li><a href="#">TENTANG</a></li>
          <li><a href="#">ORDER</a></li>
          <li><a href="signup.html"><img src="profile.jpeg" alt="Profile Picture" width="60.47px" id="profile1">  username</a>
          </li>
          <li><a href="#"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </div>
    <div class="alamat pengguna">
      <hr class="kotak">
      <a class="ap">Alamat Pengguna</a>
      <a class="nl">Rafida Nisa Maghfiroh</a>
      <a class="nt">082113750965</a>
      <a class="al">Pondok Cipta Blok A No. 88 RT/RW 01/011, Bintara, Bekasi Barat, Kota Bekasi, Jawa Barat, 17134</a>
      <hr class="garis">
    </div>
    <div class="baris 2">
      <hr class="kotak2">
      <a class="jr">Pilih Jenis Rental</a>
      <a class="pjr" style="position: absolute; float: left ;margin-left: 34%; width: 30%; margin-top: 45px; background: none;">Drop Off</a>
      <div class="garis2"></div>
      <hr class="garis3">
      <a class="tb">Tanggal Booking</a>
      <a class="tgldari">mm/dd/yy 12:00 AM</a>
      <a class="sampai">-</a>
      <a class="tglsampai">mm/dd/yy 12:00 AM</a>
      <div class="garis4"></div>
    </div>
    <div class="baris 3">
      <hr class="kotak3">
      <div class="z1">
        <i class="fas fa-user-circle fa-2x" style="position: absolute; left: 15.9%; background: none; top: 627px;"></i>
        <a class="namatoko">Agrirental</a>
        <img src="jazz.png" style="width: 78px; height: 78px; margin-left: 15.9%; margin-top: 130px; position: absolute;">
        <a class="judul">Mobil mobil an merah</a>
        <a class="merek-jenis">Honda-Jazz</a>
      </div>
      <div class="z2">
        <a class="harga12jam">Harga/12 Jam</a>
        <a class="hargaprod">Rp500.000</a>
      </div>
      <div class="z3">
        <a class="jumlahjam">Jumlah Jam</a>
        <a class="jumlah">1</a>
      </div>
      <div class="z4">
        <a class="harga">Harga</a>
        <a class="hartot">Rp500.000</a>
      </div>
      <hr class="garis5">
        <label>Pesan:</label>
      <a class="total">Total Pembayaran:</a>
      <a class="jumlahtotal">Rp500.000</a>
      <a class="metode">Metode Pembayaran:</a>
      <a class="cod">Cash On Delivery(COD)</a>
      <a class="pesantext">Yokyok</a>

    </div>
    <a href="">
      <button class="button1">Batalkan Orderan</button>
    </a>

    <hr class="kotak4">
    <a class="stat">Status</a>
    <div class="garis6"></div>
    <div class="pilih">
      <a class="status">selesai</a>
      <select name="" id="">
          <option value="" disabled selected></option>
          <option value="">Lanjut</option>
          <option value="">Batal</option>
      </select>
    </div>
    <button class="button2">Update Status</button>
    <footer>
      <p>Copyright Spinach Team</p>
    </footer>
  </body>
</html>