<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="signup.css">
        <script src="https://kit.fontawesome.com/7b2e6c4dc6.js" crossorigin="anonymous"></script>
        <title>Daftar</title>
    </head>
    <body background="background.jpg">
        <header>
            <div class="atas">
                <a href="">
                    <img src="logo.png" class="logo">
                </a>
            </div>
        </header>
        <div class="signupForm">
            <h1>DAFTAR</h1>
            <div class="textbox">
                <i class="far fa-user"></i>
                <input type="text" placeholder="Nama Lengkap" name="" value="">
            </div>
            <div class="textbox">
                <i class="fas fa-phone"></i>
                <input type="number" placeholder="Nomor Telepon" name="" value="">
            </div>
            <div class="textbox">
                <i class="far fa-user"></i>
                <input type="text" placeholder="Username" id="uname" name="" value="">
            </div>
            <div class="textbox">
                <i class="far fa-envelope"></i>
                <input type="email" placeholder="Email" name="" value="">
            </div>
            <div class="textbox">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" name="" value="">
            </div>
            <div class="textbox">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Konfirmasi Password" name="" value="">
            </div>
            <div class="textbox">
                <i class="fas fa-venus-mars"></i>
                <select name="Jenis Kelamin" style="background: none; border: none; font-size: 18px; width: 70%; float: left; margin: 0 18px; outline: none; color: white; cursor: pointer;">
                    <option value="" disabled selected hidden>Jenis Kelamin</option>
                    <option style="color: black;" value="Laki-Laki">Laki-Laki</option>
                    <option style="color: black;" value="Perempuan">Perempuan</option>
                </select>
            </div>
            <div class="textbox">
                <i class="far fa-calendar-alt"></i>
                <input type="date" name="">
            </div>
            <button type="button"><span></span>Daftar</button>
            <p>Sudah punya akun? <a style="padding-bottom: 50px;" href="login.html">Masuk</a></p>
        </div>
    </body>
    <footer>
		<p>Copyright Spinach Team</p>
	</footer>
</html>