* {
	padding: 0;
	margin: 0;
	font-family: Lato;
	background-color: #262833;
	color: white;
	text-decoration: none;
}
header {
	height: 104px;
	width: 100%;
	z-index: 12;
	position: fixed;

}
img.logo {
	width: 86px;
	margin-top: 0;
	margin-left: 25px;
	position: fixed;
}
header ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
header ul li {
	position: relative;
	width: 100%;
	list-style: none;
}
header ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
}
header ul li a .icon {
	position: relative;
	display: block;
	min-width: 60px;
	height: 37px;
	line-height: 20px;
	text-align: center;
}
.menu {
	width: 200px;
	height: 100%;
	position: fixed;
	top: 105px;
	font-size: 16px;
}
.menu a:hover {
	opacity: 0.7;
	transition: .3s;
}
.container {
	width: 100%;
	margin: 0 auto;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
a.sUname {
	position: fixed;
	font-size: 17px;
	float: right;
	top: 31px;
	right: 4.8%;
}
a.panah {
	position: fixed;
	left: 124px;
	top: 31px;
}
a.sAkun2 {
	position: fixed;
	font-size: 20px;
	float: left;
	margin-top: 29px;
	margin-left: 145px;
}
.produk {
	color: #4ACFAC;
}
a.sProduk {
	position: fixed;
	font-size: 20px;
	top: 103px;
	left: 19%;
}
.edit {
	width: 0px;
	height: 0px;
	cursor: pointer;
}
.edit:hover {
	opacity: 0.8;
}
hr.kotak {
	position: fixed;
	width: 180px;
	height: 32px;
	float: right;
	right: 30px;
	top: 105px;
	border: none;
	background: #4ACFAC;
	border-radius: 10px;
}
a.sUbah {
	position: absolute;
	width: 130px;
	float: right;
	right: 45px;
	top: 110.5px;
	font-size: 14px;
	line-height: 17px;
	background: none;
}
a.takde {
	position: absolute;
	font-size: 16px;
	width: 121px;
	margin-left: 51%;
	margin-top: 267px;
}
.edit i {
	float: right;
}
table {
	width: 79%;
	float: right;
	right: 30px;

}
.judul table {
	position: absolute;
	height: 57px;
	top: 160px;
	border: none;
	background: #3C3E4A;
}
.judul th {
	text-align: left;
	background-color: #3C3E4A;
}

@media screen and (max-width: 600px) {
	img {
		width: 100%;
	}
	hr.kotak {
		margin-left: 87.4%;
		width: 40px;
		height: 32px;
	}
	a.sUbah {
		display: none;
	}
	.edit i {
		margin-right: -141px;
		margin-top: 1px;
	}
	hr.kotak2 {
		right: 0;
		position: fixed;
		width: 100%;
	}
	a.sProduk {
		left: 200px;
	}
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
	img {
		width: 100%;
	}
	hr.kotak {
		margin-left: 80%;
	}
	hr.kotak2 {
		right: 0;
		position: fixed;
		width: 100%;
	}
	a.sProduk {
		left: 200px;
	}
}
@media screen and (min-width: 1201px) and (max-width: 1370px) {
	img {
		width: 100%;
	}
}
@media screen and (min-width: 1371px) {
	img {
		width: 100%;
	}
	hr.kotak2 {
		width: 85%;
	}
}
footer {
    position: fixed;
    margin: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}