* {
	padding: 0;
	margin: 0;
	font-family: Lato;
	background-color: #262833;
	color: white;
	text-decoration: none;
}
header {
	height: 104px;
	width: 100%;
	z-index: 12;
	position: fixed;

}
img.logo {
	width: 86px;
	margin-top: 0;
	margin-left: 25px;
	position: fixed;
}
header ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
header ul li {
	position: relative;
	width: 100%;
	list-style: none;
}
header ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
}
header ul li a .icon {
	position: relative;
	display: block;
	min-width: 60px;
	height: 37px;
	line-height: 20px;
	text-align: center;
}
.menu {
	width: 200px;
	height: 100%;
	position: fixed;
	top: 105px;
	font-size: 16px;
}
.menu a:hover {
	opacity: 0.7;
	transition: .3s;
}
.container {
	width: 100%;
	margin: 0 auto;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
a.sUname {
	position: fixed;
	font-size: 17px;
	float: right;
	top: 31px;
	right: 4.8%;
}
a.panah {
	position: fixed;
	left: 124px;
	top: 31px;
}
a.sAkun2 {
	position: fixed;
	font-size: 20px;
	float: left;
	margin-top: 29px;
	margin-left: 145px;
}
a.sProduk {
	position: fixed;
	font-size: 20px;
	top: 103px;
	right: 74.7%;
}
.edit {
	width: 0px;
	height: 0px;
	cursor: pointer;
}
.edit:hover {
	opacity: 0.8;
}
a.takde {
	position: absolute;
	font-size: 16px;
	width: 121px;
	margin-left: 51%;
	margin-top: 267px;
}
table {
	width: 79%;
	float: right;
	right: 30px;

}
.judul table {
	position: absolute;
	height: 57px;
	top: 160px;
	border: none;
	background: #3C3E4A;
}
.judul th {
	text-align: left;
	background-color: #3C3E4A;
}
footer {
    position: fixed;
    margin: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}