<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="landingpage.css">
    <title>AGRIRENTAL</title>
</head>
<body>
    <div class="landing">
        <div class="navbar">
            <a href="landingpage.html"><img src="logo.png" class="logo"></a>
            <ul>
                <li><a href="#">MITRA</a></li>
                <li><a href="#">TENTANG KITA</a></li>
                <li><a href="login.html">MASUK</a></li>
                <li><a href="signup.html">DAFTAR</a></li>
            </ul>
        </div>

        <div class="container">
            <h1>SELAMAT DATANG DI AGRIRENTAL</h1>
            <p>MENYEDIAKAN PENYEWAAN MOBIL PRIBADI DI INDONESIA</p>
            <div>
                <button type="button"><span></span>CARI LOKASI ANDA</button>
            </div>
        </div>
    </div>
</body>
</html>