<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../asset/css/Mitra_Rekening Bank(2).css" rel="stylesheet" />
		<script src="https://kit.fontawesome.com/eaa6d1f26f.js" crossorigin="anonymous"></script>
		<title>Agrirental</title>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="atas">
					<a href="">
						<img class="logo" src="../asset/img/logo.png" />
					</a>
					<img class="ava" src="../asset/img/Profile.png" />
					<a class="sUname">Agrirental</a>
					<a class="panah">&#10095;</a>
					<a class="sAkun2">Rekening Bank</a>
				</div>
				<div class="menu">
					<ul>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-user"></i></span>
								<span class="akun">Akun</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-store-alt"></i></span>
								<span class="profil">Profil Mitra</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-car"></i></span>
								<span class="produk">Produk</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-clipboard-list"></i></span>
								<span class="orderan">Orderan</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-map-pin"></i></span>
								<span class="alamat">Alamat Mitra</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-star"></i></span>
								<span class="penilaian">Penilaian Mitra</span>
							</a>
						</li>
						<li>
							<a href="Mitra_Rekening Bank(2)">
								<span class="icon"><i class="fas fa-money-check" style="color: #4ACFAC;"></i></span>
								<span class="rekening">Rekening Bank</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-sign-out-alt"></i></span>
								<span class="keluar">Keluar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<a class="sRek">Rekening Bank</a>
		<a href="">
			<div class="tambah">
				<hr class="kotak"/>
				<i class="fas fa-plus fa-2x" style="color: white; left: 409px; top: 177px; position: absolute;"></i>
				<a class="sNote">Tambah Rekening Bank</a>
			</div>
		</a>
		<div class="bank">
			<table border="1">
				<tr height="30px;">
					<td style="background-color: #3C3E4A; ">
						<i class="fas fa-check-circle" style="color: white; top: 165px;
						left: 678px; position: absolute; background: none;"></i>
						<a class="bca">BCA</a>
					</td>
				</tr>
				<tr height="30px;">
					<td style="border-bottom: none;">
						<a class="norek">******2001</a><br>
						<a class="namarek">Peter Parker</a>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>