<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../asset/css/Mitra_Tambah Produk.css" rel="stylesheet" />
		<script src="https://kit.fontawesome.com/eaa6d1f26f.js" crossorigin="anonymous"></script>
		<title>Mitra - Tambah Produk Baru</title>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="atas">
					<a href="">
						<img class="logo" src="../asset/img/logo.png" />
					</a>
					<i class="fas fa-store-alt fa-lg" style="position: fixed; float: right; top: 34px; right: 111px;"></i>
					<a class="sUname">Agrirental</a>
					<a class="panah">&#10095;</a>
					<a class="sAkun2">Produk</a>
					<a class="panah2">&#10095;</a>
					<a class="sTambah">Tambah Produk Baru</a>
				</div>
				<div class="menu">
					<ul>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-user"></i></span>
								<span class="akun">Akun</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-store-alt"></i></span>
								<span class="profil">Profil Mitra</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-car" style="color: #4ACFAC;"></i></span>
								<span class="produk">Produk</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-clipboard-list"></i></span>
								<span class="orderan">Orderan</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-map-pin"></i></span>
								<span class="alamat">Alamat Mitra</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-star"></i></span>
								<span class="penilaian">Penilaian Mitra</span>
							</a>
						</li>
						<li>
							<a href="Rekening Bank(1).html">
								<span class="icon"><i class="fas fa-money-check"></i></span>
								<span class="rekening">Rekening Bank</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-sign-out-alt"></i></span>
								<span class="keluar">Keluar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<hr class="kotak">
		<a class="sstambah">Informasi Produk</a>
		<div class="formform">
			<form>
				<div class="row">
					<div class="col-1">
						<label>Judul Produk</label>
					</div>
					<div class="col-2">
						<input type="text" id="" name="" placeholder="Max 100 karakter">
					</div>
				</div>
				<div class="row">
			      <div class="col-1">
			        <label>Deskripsi Produk</label>
			      </div>
			      <div class="col-2">
			        <textarea id="" name="" style="height:150px" placeholder="Max 1000 karakter"></textarea>
			      </div>
			    </div>
				<div class="row">
					<div class="col-1">
						<label>Merek</label>
					</div>
					<div class="col-3">
						<input type="text" id="" name="" placeholder="Contoh: Toyota">
					</div>
				</div>
				<div class="row">
					<div class="col-1">
						<label>Jenis</label>
					</div>
					<div class="col-3">
						<input type="text" id="" name="" placeholder="Contoh: Kijang Innova">
					</div>
				</div>
				<div class="row">
					<div class="col-1">
						<label>Harga</label>
					</div>
					<div class="col-3">
						<input type="text" id="" name="" placeholder="/12Jam (Contoh: 750000)">
					</div>
				</div>
				<div class="row">
					<div class="col-1">
						<label>Tahun Keluaran</label>
					</div>
					<div class="col-3">
						<input type="text" id="" name="">
					</div>
				</div>
				<div class="row">
					<div class="col-1">
						<label>Jenis Rental</label>
					</div>
					<div class="col-3">
						<select id="" name="">
							<option value="" disabled selected></option>
							<option value="lepaskunci">Lepas Kunci</option>
							<option value="dropoff">Drop off</option>
			        	</select>
			      	</div>
				</div>
				<div class="row">
					<div class="col-1">
						<label for="jenisrental">Plat Nomor</label>
					</div>
					<div class="col-3">
						<select id="" name="">
							<option value="" disabled selected></option>
							<option value="ganjil">Ganjil</option>
							<option value="genap">Genap</option>
			        	</select>
			      	</div>
				</div>
				<div class="row">
					<div class="col-1">
						<label>Foto Produk</label>
					</div>
					<div class="col-3">
						<input type="file" name="file" accept="image/*" multiple="multiple" aspect="1" class="poto">
						<input type="file" name="file" accept="image/*" multiple="multiple" aspect="1" class="poto">
						<input type="file" name="file" accept="image/*" multiple="multiple" aspect="1" class="poto">
						<input type="file" name="file" accept="image/*" multiple="multiple" aspect="1" class="poto">
						<input type="file" name="file" accept="image/*" multiple="multiple" aspect="1" class="poto">
					</div>
				</div>
				<div class="tombol">
					<a href="">
				      <button>Simpan</button>
				    </a>
				</div>
			</form>
		</div>
	</body>
</html>
