<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="./Mitra_1Produk.css" rel="stylesheet" />
		<script src="https://kit.fontawesome.com/eaa6d1f26f.js" crossorigin="anonymous"></script>
		<title>Mitra - Produk</title>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="atas">
					<a href="">
						<img class="logo" src="Logo.png" />
					</a>
					<i class="fas fa-store-alt fa-lg" style="position: fixed; float: right; top: 34px; right: 111px;"></i>
					<a class="sUname">Agrirental</a>
					<a class="panah">&#10095;</a>
					<a class="sAkun2">Produk</a>
				</div>
				<div class="menu">
					<ul>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-store-alt"></i></span>
								<span class="profil">Profil Mitra</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-car" style="color: #4ACFAC;"></i></span>
								<span class="produk">Produk</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon"><i class="fas fa-sign-out-alt"></i></span>
								<span class="keluar">Keluar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<a class="sProduk">0 Produk</a>
		<a href="">
			<div class="edit">
				<hr class="kotak">
				<a href="" class="sUbah">Tambah Produk Baru</a>
				<i class="fas fa-plus" style="position: fixed; float: right;right: 184px; top: 112px; background: none;"></i>
			</div>
		</a>
		<div class="judul">
			<table>
		        <tr>
		            <th style="padding-left: 4.6%; width: 17.9%;">Nama Produk</th>
		            <th style="padding-left: 1.4%; width: 9%;">Harga/12 Jam</th>
		            <th style="padding-left: 1.4%; width: 9%;">Jumlah Tersewa</th>
		            <th style="padding-left: 1.4%; width: 10.3%;">Status</th>
		        </tr>
		    </table>
		</div>
	    <div class="isi">
			<table>
		        <tr>
		            <td style="padding-left: 4.6%; width: 17.9%;"><a href="" class="judul-merk">Mobil Honda Jazz Bintara<br>Honda - Jazz</a></td>
		            <td style="padding-left: 1.4%; width: 9%;">Rp 750.000</td>
		            <td style="padding-left: 1.4%; width: 9%;">3</td>
		            <td style="padding-left: 1.4%; width: 10.3%;">Selesai<a href="" class="ubahapus">Ubah</a><br><a href="" class="ubahapus">Hapus</a></td>
		        </tr>
		    </table>
		</div>
	</body>
</html>