<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/signup.css">
    <script src="https://kit.fontawesome.com/7b2e6c4dc6.js" crossorigin="anonymous"></script>
    <title>DAFTAR AKUN</title>
</head>
<body>
    <div class="signup">
        <div class="navbar">
            <a href="landingpage.html"><img src="../asset/img/logo.png" class="logo"></a>
            <ul>
                <li><a href="#">Favorit</a></li>
                <li><a href="#">Notifikasi</a></li>
                <li><a href="login.html">Masuk</a></li>
                <li><a href="signup.html">Daftar</a></li>
            </ul>
        </div>
        <div class="signupForm">
            <h1>Daftar</h1>
            <div class="textbox">
                <i class="far fa-user"></i>
                <input type="text" placeholder="Full Name" name="" value="">
            </div>
            <div class="textbox">
                <i class="fas fa-phone"></i>
                <input type="number" placeholder="Phone Number" name="" value="">
            </div>
            <div class="textbox">
                <i class="far fa-user"></i>
                <input type="text" placeholder="Username" name="" value="">
            </div>
            <div class="textbox">
                <i class="far fa-envelope"></i>
                <input type="email" placeholder="Email" name="" value="">
            </div>
            <div class="textbox">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" name="" value="">
            </div>
            <div class="textbox">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Confirm Password" name="" value="">
            </div>
            <button type="button"><span></span>Daftar</button>
            <p>Sudah punya akun? <a href="login.html">Daftar</a></p>
        </div>
    </div>
</body>
</html>